<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="registration">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>{{ 'Tabs.user' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list">
      <ion-icon name="list"></ion-icon>
      <ion-label>{{ 'Tabs.list' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="camera">
      <ion-icon name="images"></ion-icon>
      <ion-label>{{ 'Tabs.camera' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>{{ 'Tabs.settings' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
